<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservations</title>
</head>
<body>
    <div>
        <form>
            <fieldset>
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="tfName"><br><br>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="tfEmail"><br><br>
                <label for="reservation">Reservation date:</label><br>
                <input type="date" id="reservation" name="tfEmail"/><br><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
    
</body>
</html>